---
import ContractForm, { ContractFormConfig } from "./contract_form";
import { authorInfoStore } from "../../stores/author_info";

const authro = authorInfoStore.get();
---

<section style="color:var(--secondary-color); overflow: hidden;">
    <div class="container-default" style="margin-top: 7rem !important;">
        <div class="contact-form">
            <h2 style="text-align:Center">
                Wanna <strong>Start Work</strong>
                With Me?
            </h2>
            <div class="grid sm:grid-cols-2 grid-cols-1 mt-5 space-x-5">
                <div class="order-2 mt-6 sm:mt-0 sm:order-1">
                    <h4>Get In Touch</h4>
                    <div class="max-w-sm">
                        <ContractForm
                            configuration={ContractFormConfig.ConfigTwo}
                            client:idle
                            urlEndpoint="/get-in-touch/"
                        />
                    </div>
                </div>
                <div class="order-1 sm:order-2">
                    <div class="">My Contact Details</div>

                    <div id="contact" class="mt-4">
                        <div class="contact-info">
                            <span>Email :</span>
                            <br />
                            <a href={"mailto:" + authro.email}>{authro.email}</a
                            >
                            <div class="mt-5">
                                <span>Socials :</span>

                                <div class="mt-2 flex flex-wrap gap-3">
                                    {
                                        authro.socials.map((social) => {
                                            return (
                                                <a
                                                    href={social.link}
                                                    title={social.title}
                                                    class="inputs"
                                                >
                                                    {social.name}
                                                </a>
                                            );
                                        })
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .row {
        display: flex;
    }
</style>
