---
import classNames from "classnames";
import styles from "./author_photo.module.css";
import profile_pif from "../../assets/profile_pic_crop.png";

export interface Props {
    class?: string
}
const { class: className } = Astro.props;
---

<script>
    import { gsap } from "gsap";
    import { MotionPathPlugin } from "gsap/MotionPathPlugin";
    gsap.registerPlugin(MotionPathPlugin);
    const duration = 20;
    const repeatDelay = 5;
    animateSocialIcon();

    // *********//
    function animateSocialIcon() {
        gsap.to("#facebook", {
            duration: duration,
            repeat: -1,
            repeatDelay,
            ease: "power1.inOut",
            motionPath: {
                path: "#path",
                align: "#path",
                alignOrigin: [0.5, 0.5],
            },
        });
        gsap.to("#linkedin", {
            duration: duration,
            repeat: -1,
            ease: "power1.inOut",
            repeatDelay,
            motionPath: {
                path: "#path",
                align: "#path",
                alignOrigin: [0.5, 0.5],
                start: 0.23,
                end: 1.23,
            },
        });
        gsap.to("#github", {
            duration: duration,
            repeat: -1,
            repeatDelay,
            // delay:4,
            ease: "power1.inOut",
            motionPath: {
                path: "#path",
                align: "#path",
                // autoRotate: true,
                alignOrigin: [0.5, 0.5],
                start: 0.6,
                end: 1.6,
            },
        });
    }
</script>

<div class={classNames(className, styles["author-image"])}>
    <svg
        id="1001"
        class={classNames(styles["imageForegroundSvg"], styles.imageSvgUp)}
        viewBox="0 0 300 300"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
    >
        <defs>
            <clipPath id="blob2">
                <path
                    fill="#474bff"
                    d="m 271.2626 62.0283 c 16.3 18.2 7.9 59.2 0.4 92.7 c -7.5 33.4 -14.3 59.4 -26.6626 35.2717 c -16.3 15.6 -42.3 20.9 -66.0626 19.2717 c -26.2 0.2 -52.6 -4.6 -83.8 -20.3 c -31.3 -15.6 -67.4 -42 -69.4 -70.4 C 19.8 129.9 35.3374 84.0717 68.3374 66.0717 C 97.3 49.9 100 45 144.2374 26.7717 c 35.7 -5.3 76.7 -10 93.1 8.2 S 259.7791 52.9906 271 62"
                ></path>
            </clipPath>
        </defs>
        <image
            class={styles.main_img}
            x="30"
            y="20"
            clip-path="url(#blob2)"
            xlink:href={profile_pif.src}
        />
    </svg>

    {/* --- */}
    <svg
        id="1002"
        class={classNames(styles["imageForegroundSvg"], styles.imageSvgDown)}
        viewBox="0 0 300 300"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
    >
        <defs>
            <clipPath id="blob">
                <path
                    fill="#474bff"
                    d="m 271.2626 62.0283 c 16.3 18.2 7.9 59.2 0.4 92.7 c -7.5 33.4 -14.3 59.4 -30.6 75 c -16.3 15.6 -42.3 20.9 -68.4 21.2 c -26.2 0.2 -52.6 -4.6 -83.8 -20.3 c -31.3 -15.6 -67.4 -42 -69.4 -70.4 c -2 -28.4 13.5374 -74.2283 46.5374 -92.2283 c 31.3 -18.1 34 -23 78.2374 -41.2283 c 35.7 -5.3 76.7 -10 93.1 8.2"
                ></path>
            </clipPath>
        </defs>
        <image
            class={styles.main_img}
            x="30"
            y="20"
            clip-path="url(#blob)"
            xlink:href={profile_pif.src}
        />
    </svg>
    <svg
        class={styles.imageBackgroundSvg}
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 300 300"
        width="300"
        height="300"
        version="1.1"
    >
        <path
            id="path"
            stroke="white"
            stroke-linejoin="round"
            fill="rgb(46,47,46)"
            d="M 271.2626 62.0283 C 287.5626 80.2283 279.1626 121.2283 271.6626 154.7283 C 264.1626 188.1283 257.3626 214.1283 241.0626 229.7283 C 224.7626 245.3283 198.7626 250.6283 172.6626 250.9283 C 146.4626 251.1283 120.0626 246.3283 88.8626 230.6283 C 57.5626 215.0283 21.4626 188.6283 19.4626 160.2283 C 17.4626 131.8283 49.5626 101.4283 80.7626 83.2283 C 112.0626 65.1283 142.4626 59.1283 178.1626 53.8283 C 213.8626 48.5283 254.8626 43.8283 271.2626 62.0283"
        ></path>
    </svg>
    <div id="facebook" class={styles["ic-animation-wrapper"]}>
        <div title="twitter.com/ar_tumzied">
            <a
                target="_blank"
                href="https://twitter.com/ar_tumzied"
                class={classNames(styles["ic-wrapper"], styles.facebook)}
            >
                <i class="fa-brands fa-twitter"></i>
            </a>
        </div>
    </div>
    <div id="github" class={styles["ic-animation-wrapper"]}>
        <div title="github.com/tz01x">
            <a
                target="_blank"
                href="https://github.com/tz01x"
                class={classNames(styles["ic-wrapper"], styles.github)}
            >
                <i class="fa-brands fa-github"></i>
            </a>
        </div>
    </div>
    <div id="linkedin" class={styles["ic-animation-wrapper"]}>
        <div title="linkedin.com/in/tumzied">
            <a
                target="_blank"
                href="https://www.linkedin.com/in/tumzied/"
                class={classNames(styles["ic-wrapper"], styles.linkedin)}
            >
                <i class="fa-brands fa-linkedin-in"></i>
            </a>
        </div>
    </div>
</div>
