---
import BlogLayout from "../../layouts/BlogLayout.astro";
import confgis from "../../configs.json";
import { BlogDetail } from "../../interfaces";
import CommentsSection from "../../components/comments_section/comments_section.astro";
import Categories from "./_categories.astro";


const { slug } = Astro.params;
let data: BlogDetail | undefined = undefined;
try {
    const respone = await fetch(confgis.BASE_API + "/api/blog/" + slug);
    if (!respone.ok) {
        return Astro.redirect("/404");
    }
    data = await respone.json();
} catch (error) {

}

if(!data){
    Astro.redirect("/404");
}



---

<BlogLayout 
title={`${data?.title} - ${data?.author}`}
description={data?.shortDescription}
meta_image={data?.picture}
>
    <div class="sm:w-3/4 mx-auto my-5 px-2 relative">
        <header class="mb-6">
            <h1 class="text-3xl font-sans capitalize">{data.title}</h1>

            <div class="flex gap-2 mt-2 text-sm items-end">
                <address class="flex flex-row gap-1">
                    <img
                        class="rounded-full w-8 h-8 my-auto"
                        src="/defaultpic.png"
                        alt="author-image"
                        aria-label="author-image"
                    />

                    <div class="flex flex-col text-sm">
                        <span class="capitalize font-bold">
                            {data.author}
                        </span>
                        <span>
                            <i class="fa-regular fa-calendar-days"></i>{" "}
                            {data.created}
                        </span>
                    </div>
                </address>

                <span class="cursor-pointer" title={`views ${data.hits}`}>
                    <i class="fa-solid fa-eye"></i>{" "}
                    {data.hits}
                </span>
                <span class="cursor-pointer" title={`comment 0`}>
                    <i class="fa-solid fa-comment"></i>{" "}
                    {0}
                </span>
            </div>
        </header>
        {
            data?.picture ? (
                <div class="my-2 ">
                    <img src={data.picture} alt="" srcset="" />
                </div>
            ) : null
        }

        <div id="content" class="overflow-x-scroll desiable-scrollbar">
            <p set:html={data?.content} />
        </div>
    </div>
    <div slot="aside" class="p-6">
        <Categories categories={data?.category}/>
        <section class="mt-28">
            <CommentsSection blog_slug={slug} />
        </section>
    </div>
</BlogLayout>
<script >
    import confgis from "../../configs.json";

    const content = document.getElementById("content");
    const images = content.getElementsByTagName("img");

    for (let index = 0; index < images.length; index++) {
        const element = images[index];
        const src = element.getAttribute("src");
        if(!src.startsWith('https://')){
            element.src = confgis.BASE_API + src;
        }
    }
</script>
