---
import BlogLayout from "../../layouts/BlogLayout.astro";
import conifgs from "../../configs.json";
import { PaginationResponse, BlogsList, Category } from "../../interfaces";
import Categories from "./_categories.astro";

let blogs: PaginationResponse<BlogsList> | undefined;
let categories: Category[] | undefined;

let query_parmas = ''

if(Astro.url.search.length>0){
    query_parmas = Astro.url.search + "&limit=50&offest=0"
}else{
    query_parmas = "?limit=50&offest=0"
}



try {
    blogs = await fetch(
        conifgs.BASE_API + `/api/get-blogs${query_parmas}`
    ).then((res=>res.json()));

    categories = await fetch(
        conifgs.BASE_API + '/api/categories'
    ).then((res=>res.json()));
   
} catch (error) {}
---

<BlogLayout title="blogs-tumzied">
    <div class="w-4/5 mx-auto">
        <ul>
            {
                blogs?.results?.map((data, index) => {
                    return (
                        <li>
                            <article class="p-5">
                                <header class="my-2">
                                    <h2 class="text-2xl underline capitalize" title={data.title}>
                                        <a href={`/blogs/${data.slug}`}>
                                            {data.title}
                                        </a>
                                    </h2>
                                    <div class="text-xs">
                                        <address class="my-2">
                                            <span
                                                tabindex="0"
                                                aria-label="author name"
                                            >
                                                <strong>{data.author}</strong>
                                            </span>
                                            <span
                                                tabindex="0"
                                                class="ml-2"
                                                aria-label={`published at ${data.created}`}
                                            >
                                                <em>{data.created}</em>
                                            </span>
                                            <span
                                                class="cursor-pointer ml-2"
                                                title={`views ${data.hits}`}
                                            >
                                                <i class="fa-solid fa-eye" />
                                                <span set:html={data.hits}></span>
                                            </span>
                                        </address>
                                    </div>
                                </header>

                                <main class="text-sm">
                                    <p class="w-3/4" tabindex="0">
                                        {data.shortDescription}
                                    </p>
                                </main>
                                <footer class="mt-2">
                                    <ul
                                        tabindex="0"
                                        class="flex gap-3"
                                        aria-label="categories"
                                    >
                                        {data.category?.map((c) => {
                                            return (
                                                <li
                                                    tabindex="0"
                                                    class="px-3 capitalize cursor-pointer py-1 border border-gray-600  transition-all duration-500  rounded-2xl hover:rounded-sm hover:scale-110 focus-visible:scale-110"
                                                >
                                                    {c.name}
                                                </li>
                                            );
                                        })}
                                    </ul>
                                </footer>
                                <hr class="mt-5" />
                            </article>
                        </li>
                    );
                })
            }
        </ul>
    </div>
    <div slot="aside">
        <div class="p-6">
            <Categories categories={categories}/>

        </div>
    </div>
</BlogLayout>
