---
import { Header } from "../components/headers/header";
import {SnackbarComponent} from "../components/snackbar/snackbar";
export interface Props {
	title: string;
	description?: string;
	meta_image?: string;
}

const {
	title,
	description = "",
	meta_image = "/portfoio-web-view.png",
} = Astro.props;
const url = Astro.url.href;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width initial-scale=1.0" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
			integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
			crossorigin="anonymous"
			referrerPolicy="no-referrer"
		/>
		<title>{title}</title>

		<meta name="description" content={description} />

		<meta name="keywords" content="tumzied,portfolio,skills,contract-me" />
		<meta name="author" content="tumzied" />
		<meta name="robots" content="index, follow" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

		<!-- Facebook Open Graph meta tags -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content={url} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content={meta_image} />

		<!-- Twitter Card meta tags -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:url" content={url} />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content={meta_image} />
	</head>
	<body>
		<Header />

		<slot />

		<SnackbarComponent client:load/>
	</body>
</html>
<style is:global>
	@import url("https://fonts.googleapis.com/css2?family=Lexend+Tera&display=swap");
	@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
	@tailwind components;
	@tailwind base;

	:root {
		--secondary-color: white;
		--primary-color: #606058;
	}

	body {
		margin: 0;
		background-image: url("/webbg.png");
		background-position: center;
		background-attachment: fixed;
		font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI",
			"Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
			"Helvetica Neue", sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		box-sizing: border-box;
	}

	.container-default {
		width: 70%;
		margin: auto;
	}

	.inputs {
		@apply rounded-md text-white bg-transparent p-2 border border-gray-400;
	}

	.desiable-scrollbar::-webkit-scrollbar {
		display: none;
	}
</style>
